useDynLib(M2algorithmique, .registration=TRUE)


##### Exports sorting algo
export(insertion_sort)
export(heap_sort)

export(insertion_sort_Rcpp)
export(heap_sort_Rcpp)

##### Exports Dijkstra
export(generate_random_graph)

##### Exports TSP algo
export(TSP_naif)
export(TSP_cheapest)
export(TSP_nearest)
export(TSP_farthest)
export(TSP_B_and_B)

export(TSP_naif_Rcpp)
export(TSP_cheapest_Rcpp)
export(TSP_nearest_Rcpp)

export(plot.TSP)
export(tour_length)

##### import from PACKAGES

importFrom("grDevices", "colorRamp", "rgb")
importFrom("graphics", "segments", "title")
importFrom("stats", "dist", "rnorm")
    
importFrom(Rcpp, evalCpp)

